h1 {

	text-transform: uppercase;
	font-family: sans-serif;
	color: white;
	background-color: gray;
	padding: 30px;
	margin: 30 0px 30px 0px;
}

body {

}

table, th, td, tr{
	padding: 5px;
	text-align: center;
}

table {

	opacity: 0;
	font-family: sans-serif;
	display: inline-block;
}

th {

	background: #aaaaaa;
}
tr {

	background: #aaaaaa;

	font-size: 16px;
}
td {

	background: #eeeeee;
	font-size: 12px;
}

.get-weather{
	padding: 5px;
	border: none;
	text-transform: uppercase;
	color: white;
}
.today-date{
	text-transform: uppercase;
	text-align: center;
	font-family: sans-serif;
	color: #75B9BE;
	padding-top: 75px;
}
.today-temp{
	text-align: center;
	font-family: sans-serif;
}

.weather-icon{
	display: absolute;
	margin-left: 48%;
	margin-top: 20px;
	margin-bottom: 20px;
}


.cta {

	font-family: sans-serif;
	color: #75B9BE;
	text-align: center;
}

.chart{
	height: 20%;
	width: 40%;
	display: inline-block;
	align:center;
	padding-left: 100px;
	padding-top: 100px;
	padding-bottom: 100px;

}

.forecast-header{
	padding-top: 5%;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	opacity: 0;
}

.history-header{
	text-transform: uppercase;
	font-family: sans-serif;
	color: white;
	background-color: gray;
	padding: 10px;
	margin: 30px;
	font-weight: bold;
	visibility: hidden;

}


/*
For future loading

.loading{
	border: 10px solid #75B9BE;
	border-top: 10px solid white;
	border-bottom: 10px solid white;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: none;
	-webkit-animation: spin 3s linear infinite;
}

@keyframes spin{

	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}*/